{% extends 'blog/base.html' %}
  {% block content %}
  <div class="container-fluid">
    <h1>About</h1>
    <hr>
    <p>Hello, I am Josh venn, a Masters Mechanical Engineer and I just write this blog for fun so that I have somewhere to write about the projects I get up to and hopefully help some people.</p>
    <p>Feel free to contact me or check out my other links using the information below</p>
  <div class="card-deck">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fas fa-envelope"></i> Email</div>
      <div class="card-body">
        <h5 class="card-text">Josh@venngineering.com</h5>
      </div>
    </div>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"><i class="fas fa-camera"></i> Instagram</div>
        <div class="card-body">
          <h5 class="card-title">Instagram link</h5>
        </div>
    </div>

  </div>
</div>
  {% endblock %}
