{% extends 'blog/base.html' %}
  {% block content %}
      <div class="post container-fluid">


        <h1>{{ post.title }}</h1>
        <hr>
        <div class="row" id="TagDateRow">
          <div class="col-md-8">
              <i class="fas fa-tag" id="icons"></i>{% for tag in post.tags.all %} <span id="tags">{{ tag.name }}</span>  {% endfor %}
          </div>
          <div class="col-md-4">
            <div class="date">
              <i class="fas fa-clock" id="icons"></i> {{ post.published_date }}
            </div>
          </div>
        </div>

      <div class="text-center">
        <img class="img-fluid rounded" src="{{ post.post_image.url }}" alt="Post Image" width="300px">
      </div>
      <div class="text container-fluid"
        <p>{{ post.text|safe }}</p>
      </div>
      </div>
    {% endblock %}
