body{
  padding-top: 100px;
}

.head-letters.shrink{
  text.transform: uppercase;
}

#icons{
  color: #F25F5C;
}

#TagDateRow{
  margin-bottom: 10px;
  font-size: 13px;
}

#tags{
  -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
    cursor: pointer;
}

#tags:hover {
    color: #F25F5C;
    text-decoration: underline;
}

hr{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #247BA0;
}
#center_row{
  margin-top: 0px;
  background-color: transparent;
  height: auto;
}

#center_content{
  background-color: white;
  margin-top: 0px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
  max-width: none;
  width: 100%;
  padding-top: 10px;
  border: thin solid lightgrey;
}

body{
  background-image: url('/static/images/grid1.jpg');
  background-size: 100px 100px;
}

#center_container{
  /* outline: 1px solid white; */
  background: transparent;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0px;
  max-width: none;
  width: auto;
}

.navbar{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  border-bottom: none;

}


nav.navbar.shrink .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 30pt;
  transition: all 1.5s ease;
}

.jumbotron {
  /* background-image: url(/static/images/Blueprint_of_Victory.jpg); */
}


.navbar-brand {
  padding-top: 8;
  padding-bottom: 8;
  font-size: 36pt;
  position: relative;
  z-index: 1;
}



.navbar-nav {
  padding-top: 4px;
  padding-bottom: 4px;
  border-left: black solid;
}


.navbar-nav a {
  padding-top: 0;
  padding-bottom: 0;
}

h1 a {
  color: #212529;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 0px;
  -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

h1 a:hover {
  color: #247BA0;
}

}

.page-header {
  background-color: #f8f9fa;
  margin-top: 0;
  padding: 0px 20px 0px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
  color: #212529;
  /* font-size: 36pt; */
  text-decoration: none;
  margin-bottom: 0px;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1{
  font-weight: bold;
  cursor: pointer;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input{
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
}

.card-title a{
  color: #212529;
}

.card-title{
    text-align: center;
}
